<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login/doctordata" method="post">
    Doctor's Name : <input type="text" name="d_name" id="d_name" placeholder="eg. Mr.Swadesh Jadhav">
    Doctor's Contact : <input type="number" name="d_phone" id="d_phone">
    Doctor's Qualificaton : <input type="text" name="d_qualify" id="d_qualify">
    Doctor's email : <input type="email" name="d_email" id="d_email">
    Doctor's password : <input type="password" name="d_pass" id="d_pass">
    Confirm password : <input type="password" name="d_cpass" id="d_cpass">
    <button id="btnsub">Submit</button>
</form>
</body>
</html>